<ion-view view-title="Atualizando o Adaptador">
  <ion-content>
  	<div class="card">
   				<div class="item item-text-wrap">
   				Se você redefinir o adaptador de rede e mesmo assim não conseguir se conectar a uma rede, talvez seja necessário atualizar o driver do adaptador. A atualização do driver poderá solucionar o problema de drivers ausentes, com problemas ou desatualizados. Para atualizar o driver do adaptador de rede, siga estas etapas:
   				</div>
   	</div>
      <div class="card-wrap">
            <div class="card full-card">
            <img src="img/atualizando.jpg" alt="" />
         </div>
	<div class="card">
			<div class="item item-divider">Etapas</div>
   				<div class="item item-text-wrap">
   					<ion-item class="item item">Clique no botão Iniciar , depois em Painel de Controle, Sistema e Segurança e, em Sistema, clique em Gerenciador de Dispositivos.‌</ion-item>
   					<ion-item class="item item">Clique duas vezes em Adaptadores de Rede, clique com o botão direito do mouse no seu 	adaptador e, em seguida, clique em Propriedades.</ion-item>
   					<ion-item class="item item">Clique na guia Driver e depois em Atualizar Driver.</ion-item>
   			</div>
   	</div>

   	<div class="card">
   		<div class="item item-text-wrap">
   			<ion-item class="item item">Após atualizar o driver, tente se conectar novamente à rede ou execute a Solução de problemas de rede para verificar se o adaptador está atualizado.</ion-item>
   			<ion-item class="item item">Se o Windows não conseguir localizar o driver no seu computador e você não tiver conexão com a Internet, talvez seja necessário entrar em contato com o fabricante do adaptador de rede ou o fabricante do seu computador para solicitar o driver. Consulte as informações fornecidas com o adaptador de rede ou o computador para verificar se possui um disco com os drivers.</ion-item>
   		</div>
   	</div>
   	<div class="card">
   		<div class="item item-divider">Caso nada funcione</div>
   		<div class="item item-text-wrap">Se você tiver tentado redefinir o adaptador de rede e atualizar os drivers e a Solução de problemas de rede indicar que ainda existe um problema com o adaptador de rede, experimente substituir o adaptador. Adquira um novo adaptador de rede e instale-o no computador seguindo as instruções do fabricante ou solicite a substituição do adaptador por um técnico de serviço.</div>
   	</div>
      
   </ion-content>
</ion-view>
