<ion-view view-title="Mude o DNS">
  <ion-content>
     
  	<div class="card">
   		<div class="item item-divider">Alterando o DNS do Computador</div>
   			<div class="item item-text-wrap">
   				<ion class="item item"> Acesse o menu de configurações, clicando em iniciar e depois na opção “Configurações”. Você também pode utilizar o atalho “Win + I”</ion>
   				<ion class="item item">Escolha a opção “Rede e Internet”</ion>
   				<ion class="item item">Em seguida clique em “Alterar opções de adaptador”</ion>
   				<ion class="item item">Na tela que se abrirá, clique com o botão direito do mouse na conexão que deseja modificar e em seguida escolha o item “Propriedades”</ion>
   				<ion class="item item">Na janela de propriedades, procure pela opção “Protocolo TCP/IP Versão 4 (TCP/IPv4)” dentro do quadro “Esta conexão utiliza os seguintes itens:”. Depois, clique no botão “Propriedades”;</ion>
   				<ion class="item item"> Dentro da janela de propriedades, clique na opção “Usar os seguintes endereços de servidor DNS” e em seguida, digite o endereço IP dos servidores nos dois campos do quadro. Quando terminar, clique no botão “OK” para confirmar a alteração.</ion>
   			</div>

	 </div>
   <div class="card-wrap">
        <div class="card full-card">
        <img src="img/dns.png" alt="" />
    </div>
    
 	<div class="card">
   			<div class="item item-divider">Endereços de IP dos Servidores</div>
   			<div class="item item-text-wrap">
   				<ion class="item item"><b>Conecta:</b><br><br>Servidor DNS preferencial: 177.22.37.37<br>Servidor DNS alternativo: 177.22.3838</ion>
   				<ion class="item item"><b>Google</b><br><br>Servidor DNS preferencial: 8.8.8.8<br>Servidor DNS alternativo: 8.8.4.4</ion>
   				<ion class="item item"><b>OpenDNS</b><br><br>Servidor DNS preferencial: 208.67.222.222<br>Servidor DNS alternativo: 208.67.220.220</ion>
   			</div>
  	</div>
	<div class="card">
   			<div class="item item-divider">Curiosidade: O que é um DNS?</div>
   			<div class="item item-text-wrap">
   				<ion class="item item">Servidores DNS (Domain Name System, ou sistema de nomes de domínios) são responsáveis por localizar e traduzir para uma linguagem que a máquina possa entender os endereços dos sites que digitamos nos navegadores.</ion>
   				<ion class="item item">De vez em quando, os servidores DNS ficam congestionados ou saem do ar, e quando isso acontece é impedido o acesso a muitos sites. A solução nesses casos é configurar um DNS externo. </ion>
   			</div>
   	</div>
    
   </ion-content>
</ion-view>