<ion-view view-title="Habilitando o Adaptador">
  <ion-content>
    <div class="card-wrap">
            <div class="card full-card">
            <img src="img/habilitarAdaptador.png" alt="" />
         </div>
	<div class="card">
   			<div class="item item-divider">Para Habilitar o Adaptador</div>
   			<div class="item item-text-wrap">
   				<ion-item class="item item">Para abrir Conexões de Rede, clique no botão Iniciar e em Painel de Controle. </ion-item>
   				<ion-item class="item item">Na caixa de pesquisa, digite adaptador e, na Central de Rede e Compartilhamento, clique em Exibir conexões de rede.</ion-item>
   				<ion-item class="item item">Clique com o botão direito do mouse no ícone do adaptador de rede e, em seguida, clique em Habilitar (é necessário ter permissão de administrador). Se você for solicitado a informar uma senha de administrador ou sua confirmação, digite a senha ou forneça a confirmação.</ion-item>
   			</div>
   	</div>

    
   </ion-content>
</ion-view>