<ion-view view-title="Verifique se o IP não está fixo">
  <ion-content>
   <div class="card-wrap">
        <div class="card full-card">
        <img src="img/ip.jpg" alt="" />
    </div>
	<div class="card">
   			<div class="item item-divider">Etapas</div>
   			<div class="item item-text-wrap">
   				<ion class="item item">Vá na central de rede e compartilhamento, depois do lado esquerdo aperte a opçao "alterar configuraçao do adaptador"</ion>
   				<ion class="item item">na opção "conexão de rede sem fio" (se utilizar wifi) ou "conexão Local" (se utilizar o cabo), aperte o botao direito do mouse e vá em propriedades</ion>
   				<ion class="item item">entre na opçao protocolo TPC/ IP versao 4 TPC/IPV4 e marque a opção "Obter endereço automaticamente"</ion>
   			</div>
  </div>
  
   </ion-content>
</ion-view>