<ion-view view-title="Fale Conosco">
  <ion-content>
  <div class="card">
  		<div class="item item-text-wrap">
    	<h2>Fale com um de nossos atendentes nos números <a href="tel:+55-85-3198-9560">3198-9560</a> ou <a href="tel: +55-85-3246-0296">3246-0296</a> ou mande um email para <a href="suporte@conectatelecom.com.br">suporte@conectatelecom.com.br</a></h2>
  		</div>
	</div>
	<div class="card-wrap">
            <div class="card full-card">
            <img src="img/faleConosco.png" alt="" />
         </div>

	<div class="button-bar">
		<a href="tel:+55-85-3198-9560" class="button button-outline button-positive item-text-wrap">Suporte</a>
		<a href="tel:+55-85-3246-0296" class="button button-outline button-calm item-text-wrap">Atendimento</a>
	</div>
	<a href="mailto:bianca.rocha.lol@gmail.com" data-rel="external" class="button button-block button-outline button-royal">Mande um email</a>
	
  </ion-content>
</ion-view>

