<ion-view view-title="Problemas no Adaptador">
  <ion-content>
	<div class="card">
   			<div class="item item-text-wrap">
   				<h2>Se você não conseguir se conectar a uma rede, é possível que esteja ocorrendo um problema com seu adaptador de rede. Primeiramente, tente usar a solução de problemas de Adaptador de Rede para automaticamente procurar e corrigir alguns problemas comuns</h2>
   			</div>
   	</div>
    <div class="card-wrap">
            <div class="card full-card">
            <img src="img/problemasAdaptador.jpg" alt="" />
         </div>
	<div class="card">
   			<div class="item item-divider">Passos</div>
   			<div class="item item-text-wrap">
   			<ion-item class="item item">Para abrir a Solução de problemas de adaptador de rede, clique no botão Iniciar e em Painel de Controle</ion-item>
   			<ion-item class="item item">Na caixa de pesquisa, digite solução de problemas e clique em Solução de Problemas.</ion-item>
   			<ion-item class="item item">Clique em Exibir tudo e em Adaptador de Rede.</ion-item>
   			<ion-item class="item item">Se a execução da solução de problemas de Adaptador de Rede não resolver o problema, veja ao lado procedimentos adicionais que você pode tentar</ion-item>
   				
   			</div>
   	</div>
    
  </ion-content>
</ion-view>
<!--<ion-item class="item item"></ion-item>