<ion-view view-title="Redefinindo o Adaptador">
  <ion-content>
	<div class="card">
   <div class="card-wrap">
            <div class="card full-card">
            <img src="img/redefinindo.jpg" alt="" />
         </div>
   			<div class="item item-divider">Para redefinir o adaptador</div>
   			<div class="item item-text-wrap">
   				<ion-item class="item item">Para abrir Conexões de Rede, clique no botão Iniciar e em Painel de Controle.</ion-item>
   				<ion-item class="item item"> Na caixa de pesquisa, digite adaptador e, na Central de Rede e Compartilhamento, clique em Exibir conexões de rede.</ion-item>
   				<ion-item class="item item">Clique com o botão direito do mouse no ícone do adaptador de rede e, em seguida, clique em Desabilitar. (é necessário permissão do administrador). Se você for solicitado a informar uma senha de administrador ou sua confirmação, digite a senha ou forneça a confirmação.</ion-item>
   				<ion-item class="item item">Clique novamente com o botão direito do mouse no adaptador e, em seguida, clique em Habilitar. (também é necessária a permissão do administrador)</ion-item>
   				<ion-item class="item item">O adaptador foi redefinido. Tente se conectar novamente à rede ou execute a Solução de problemas de rede para verificar se o adaptador de rede agora está funcionando corretamente.(Veja a parte de problemas para mais detalhes)</ion-item>
   			</div>
   	</div>
      
   </ion-content>
</ion-view>