<ion-view view-title="Verifique o Acesso">
  <ion-content>
  	<div class="card">
      <div class="item item-divider">Primeiros Passos</div>
  		<div class="item item-text-wrap">
      <ion-item class="item item">Verifique se o moldem está devidamente conectado, se todos os fios estão nos locais corretos ou se há algum mal contato entre eles</ion-item>
      <ion-item class="item item">Desligue o moldem da tomada e ligue-o novamente após 10s. Espere que todas as luzes acendam e verifique se sua internet retornou</ion-item>
      <ion-item class="item item">Realize um teste de cabo direto
    	</div>
      
   	</div>
     <div class="card-wrap">
        <div class="card full-card">
        <img src="img/verifiqueAcesso.jpg" alt="" />
    </div>

   	<div class="card">
   		<div class="item item-divider">Teste de Cabo Direto: Etapas</div>
   		<div class="item item-text-wrap">
        <ion-item class="item item">Se você estiver utilizando um roteador, remova cuidadosamente o cabo que encontra-se na porta [ ] WAN.</ion-item>
        <ion-item class="item item">Coloque na porta [ ] ethernet nos seu PC/Notebook.</ion-item>
   			<ion-item class="item item">Clique no ícone de internet localizado no canto inferior direito da sua tela, próximo ao relógio</ion-item>
   			<ion-item class="item item">Escolha a opção "Abrir central de rede e compartilhamento</ion-item>
   			<ion-item class="item item">Configurar uma nova conexão ou rede</ion-item>
   			<ion-item class="item item">Conectar-se a internet (AVANÇAR)</ion-item>
   			<ion-item class="item item">Configurar uma nova conexão mesmo assim (AVANÇAR)</ion-item>
   			<ion-item class="item item">Banda Larga PPPoE. Feito isso, insira o usuário e senha do PPPoE, que podem ser fornecidos pela equipe de atendimento da Conecta Telecom. Geralmente o usuario é o conjunto do nome e sobrenome (por exemplo adrianosilva) e a senha são as iniciais dos mesmos adicionadas dos 4 primeiros dígitos do CPF (seguindo o exemplo acima as1234) </ion-item>
   		</div>
   	</div>

    
  </ion-content>
</ion-view>