 <ion-view view-title="Verifique seu Computador">
 	<ion-content>
		<div class="card">
   				<div class="item item-text-wrap">
   					Seu problema com a internet também pode estar relacionado a algum vírus, malware ou spyware que está usando boa parte da sua rede. Siga as dicas abaixo para saber como proceder.
   				</div>
   		</div>

         <div class="card-wrap">
            <div class="card full-card">
            <img src="img/verifique.jpg" alt="" />
         </div>

   		<div class="card">
   			<div class="item item-divider">Etapas</div>
   			<div class="item item-text-wrap">
   			<ion-item class="item item">Na barra de pesquisa, digite o nome do seu antivírus, anti-malware ou anti-spyware e abra o programa</	ion-item>
   			<ion-item class="item item">Na aba de verificação, selecione "Verificação Completa" e aguarde até que ela termine. Esse processo pode levar algumas horas.</ion-item>
   			<ion-item class="item item">Após a verificação terminar, se foi encontrado algum objeto malicioso, selecione-o e clique na opção "remover selecionados"</ion-item>
   			<ion-item class="item item">Por fim, reinicie seu computador e cheque se seus problemas com a internet ainda persistem.</ion-item>
   			</div>
   		</div>
         
   </ion-content>
</ion-view>